<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Placeholder for all types of charts</title>
  <!--CSS-->
  <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/resources/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="/resources/css/sb-admin.css" rel="stylesheet">
  <!--JS-->
  <script src="/resources/jquery/jquery.min.js"></script>
  <script src="/resources/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/resources/jquery-easing/jquery.easing.min.js"></script>
  <script src="/resources/datatables/jquery.dataTables.js"></script>
  <script src="/resources/datatables/dataTables.bootstrap4.js"></script>
  <script src="/resources/js/sb-admin.min.js"></script>
  <script src="/resources/js/sb-admin-datatables.min.js"></script>
  <script src="/resources/data-visualization/plotly-latest.min.js"></script>
  <script src="/resources/data-visualization/numeric.min.js"></script>
  <script src="/js/chartsModule.js"></script>
  <script> 
    $(function () {
      $("#includeNavBar").load("dashboard_page.html");
    });
  </script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Nav bar-->
  <div id="includeNavBar"></div>
  <!-- end of nav bar -->
  <div class="content-wrapper">
    <div class="form-group">
      <button id="barGraphButton" class="btn btn-success col-md-2" type="button" onclick="drawBarGraph()">Bar Graph</button>
      <button id="pieChartButton" class="btn btn-success col-md-2" type="button" onclick="drawPieChart()">Pie Charts</button>
      <button id="lineChartButton" class="btn btn-success col-md-2" type="button" onclick="drawLineChart()">Line Charts</button>
      <button id="scatterPlotButton" class="btn btn-success col-md-2" type="button" onclick="drawScatterPlot()">Scatter Plots</button>
      
    </div>
    <!-- Div for plotting the graphs-->
    <div id="myDiv">
    </div>
  </div>
  <!-- content wrapper ends -->

  </div>
</body>

</html>